.buttons {
	-moz-box-shadow:inset 1px -1px 2px 1px #575657;
	-webkit-box-shadow:inset 1px -1px 2px 1px #575657;
	box-shadow:inset 1px -1px 2px 1px #575657;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1f1f1f), color-stop(1, #363535) );
	background:-moz-linear-gradient( center top, #1f1f1f 5%, #363535 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1f1f1f', endColorstr='#363535');
	background-color:#1f1f1f;
	-webkit-border-top-left-radius:42px;
	-moz-border-radius-topleft:42px;
	border-top-left-radius:42px;
	-webkit-border-top-right-radius:42px;
	-moz-border-radius-topright:42px;
	border-top-right-radius:42px;
	-webkit-border-bottom-right-radius:42px;
	-moz-border-radius-bottomright:42px;
	border-bottom-right-radius:42px;
	-webkit-border-bottom-left-radius:42px;
	-moz-border-radius-bottomleft:42px;
	border-bottom-left-radius:42px;
	border:1px solid #1f1f1f;
	color:#ed1809;
	height:62px;
	line-height:100%;
	text-shadow:-1px 1px 2px #3b0404;
}

.buttons:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #363535), color-stop(1, #1f1f1f) );
	background:-moz-linear-gradient( center top, #363535 5%, #1f1f1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#363535', endColorstr='#1f1f1f');
	background-color:#363535;
}


body{
	/*padding-top: 100px;*/
	font-family: arial;
	background-color:white;
	}


 
.statuses{
	position: absolute;
	color: #ED1809;
}

#framesPerSecond{
    position: absolute;
	top: 2px;
	left: 17px;
}

#score{
	position: absolute;
	top: 15px;
	left: 16px;
}

#lives{
	position: absolute;
	top: 30px;
	left: 17px;
}

#myCanvas {
	background: url(../Background/background.png);
	display: block; 
	margin: 0 auto;
}



#gameDiv{
	position: absolute;
	width:530px;
	height: 625px;
	top: 95px;
	left: 200px;
	padding-right: 25px;	
}


#speedDiv{
	float: right;
	/*float: left;*/
	width: 25%;
	/*width: 400px;*/
	height: 350px;
	padding-top: 35px;

	/*border-style: solid;*/
}


#speedDivTop{
	float: left;
	/*float: left;*/
	width: 90%;
	/*width: 400px;*/
	height: 20%;
	padding-top: 35px;
	/*border-style: solid;*/
}

#speedDivBottom{
	float: left;
	/*float: left;*/
	width: 80%;
	/*width: 400px;*/
	height: 60%;
	padding-top: 35px;
	/*border-style: solid;*/
}

.diceView{
	float: left;
	width:  50px; /*20%;*/
	height: 50px; /*70%;*/
	margin: 3.5px;
	border-style: solid;
}

.speedView{
	float: left;
	width: 50px; /*20%;*/
	height: 20%;
	margin: 3.5px;
	background-color : #6495ed;
	border-style: solid;
}



#quitButton{
	height: 25px;
	position: absolute;
	left: 447px;
	top: 2px;
}

.ui{
	display: none;
	font-weight: bold;
}

.mainMenu{
	position: absolute;
	font-size:24px;
	width: 180px;
    height: 55px;
}

.endGame {
	position: absolute;
	font-size: 24px;
}

.options{
    position: absolute;
}

.howToPlay{
	position: absolute;
}

.controls{
	position: absolute;
}


.logos{
	bottom: 415px;
	left: 105px;
	width: 300px;
	height: 150px;
	visibility: visible;
}



#endm{
	bottom: 175px;
	left: 165px;
	width: 180px;
	height: 50px;
}

#replay{
	bottom: 235px;
	left: 165px;
	width: 180px;
	height: 50px;
}

#gameOverText{
	bottom: 435px;
	left: 0px;
	width: 530px;
	font-size: 55px;
	text-align: center;
	/*color: #FF0000;*/
}

#gameOverScore{
	bottom: 370px;
	left: 0px;
	width: 530px;
	text-align: center;
	/*color: #FF0000;*/
}

#back{
	bottom: 1px;
    left: 26px;
	width: 50px;
	height: 30px;
}
#config_Options{
	bottom: 145px;
	left: 175px;
	height: 40px;

}

#mainMenu_Options{
    bottom: 85px;
    left: 193px;
    height: 40px;
		width: 124px;
}

#mainMenu_HowTo{
    bottom: 73px;
    left: 193px;
    height: 40px;
		width: 124px;
}


#mainMenu_Controls{
     bottom: 73px;
    left: 193px;
    height: 40px;
		width: 124px;
}

#textBackground{
	visibility: visible;
	position: absolute;
	height: 280px;
	width: 378px;
	bottom: 125px;
	left: 65px;
	z-index: 0;
	
}

#textBackground2{
	visibility: visible;
	position: absolute;
	height: 225px;
	width: 369px;
	bottom: 140px;
	left: 65px;
	z-index: 0;
	
}

#textBackground3{
	visibility: visible;
	position: absolute;
	height: 140px;
	width: 278px;
	bottom: 220px;
	left: 115px;
	z-index: 0;
	
}


#gameWelcome{
	text-align: center;
	font-size: 165%;
	bottom: 380px;
	left: 90px;
    width: 330px;
	color: #ED1809;
	z-index: 1;
}

#arrowKeys{
	bottom: 313px;
	left: 226px;
	width: 85px;
	height: 43px;
	visibility: visible;
	z-index: 1;
}

#mouseCursor{
	bottom: 313px;
	left: 390px;
	width: 27px;
	height: 40px;
	visibility: visible;
	z-index: 1;
}

#leftClick{
	bottom: 145px;
	left: 365px;
	width: 60px;
	height: 100px;
	visibility: visible;
	z-index: 1;
}

#gameDescription{
	text-align: center;
	bottom: 182px;
	left: 73px;
  width: 364px;
	font-size: 98%;
	color: #ED1809;
	z-index: 1;
}

#controlsDescription{
	bottom: 315px;
	left: 73px;
	font-size: 180%;
	z-index: 1;
	color: #ED1809;
}

#controlsDescription2{
	bottom: 180px;
	left: 73px;
	font-size: 180%;
	z-index: 1;
	color: #ED1809;
}

#controlsDescription3{
	bottom: 315px;
	left: 327px;
	font-size: 180%;
	z-index: 1;
	color: #ED1809;
}

#hint{
	text-align: center;
	bottom: 125px;
	left: 90px;
    width: 330px;
	color: #ED1809;
	z-index: 1;
}


#howTo{
	bottom: 260px;
	left: 165px;
	
}

#play{
	bottom: 335px;
	left: 165px;
}

#controls_MainMenu{
	bottom: 185px;
    left: 165px;
}

#option{
    bottom: 110px;
    left: 165px;
}

#opt{
    bottom: 215px;
    left: 130px;
    width: 250px;
		z-index: 1;
	color: #ED1809;
}

#menuLogo{
	bottom: 415px;
	left: 105px;
	width: 300px;
	height: 150px;
	visibility: visible;
}
h1{
	text-align:center;
	/*color:#660066;*/
	color:black;
	text-shadow: 1px 1px 2px black, 0 0 25px white;
}

h2{
	text-align:right;
	margin-right: 15%;
}

h3{
	margin-left: 40px;

}

h4{
text-align:right;
position:absolute;
font-family: 'Molengo', Georgia, Times, serif;
margin:0;
color:white;
    font-size: 56px;
    line-height: 80px;
}

h5{
	text-align:left;
	font-size: 56px;
}
pre{
	font-family: airal;
	font-size: 17px;
	font-weight: bold;

}

ul#menu{
    list-style-type: none;
    margin: 100px;
    padding: 0;
}

ul#menu li{
	display: inline;
	position:relative;
}

ul#menu li a{
    margin: 0px 0;
    background-color: black;
    text-align:left;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px 10px 10px 10px;
}
ul#menu li a:hover {
    background-color: white;
    color:black;
}

ul#menu li ul.dropdown{
    background-color: black;
    display: none;
    position: absolute;   
   	padding-top: 10px;
	padding-left: 0px;
	padding-bottom: 10px;
	padding-right: 10px;
   
    top: 100%;
    z-index: 99999;
    left: 0;
}
ul#menu li:hover ul.dropdown{
	display: inline-table;
}
ul#menu li ul.dropdown li{
	margin: 10px 10px;

    display: inline-table;
}


ul#games li{
	margin: 10px 0;
}

ul#games li a{
    background-color: black;
    color: white;
    padding: 3px 7px;
    text-decoration: none;
    border-radius: 10px 10px 10px 10px;
}
ul#games li a:hover {
    background-color: white;
    color:black;
}

img{
	visibility: hidden;
	height: 10px;
	width: 10px;
}
img#table{
	visibility:visible;
	height: 300px;
	width: 250px;
}

.thumb img {
    max-width: 200px;
    max-height: 150px;
    min-width: 200px;
    min-height: 150px;
}



.navbar-default {
  background-color: #6b2bab;
  border-color: #5e1590;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #5e1590;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #5e1590;
}
.navbar-default .navbar-toggle {
  border-color: #5e1590;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #5e1590;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #5e1590;
  }
}

/*Below this is CSS for the math maze game*/

.textTitle{
		white-space: pre;
		font-family: "Lucida Console", monospace;
		font-weight: bold;
		height: 50px;
		width: 400px;
		position: absolute;
		left: 50px;
		top:  125px;
}

.textBody{
		font-family: "Lucida Console", monospace;
		font-weight: bold;
		height: 100px;
		width: 400px;
		position: absolute;
		left: 50px;
		top:  175px;
}
#hit_missDiv{
		height: 90px;
		width: 180px;
		position: absolute;
		top: 280px;	/*originally 184 */
		left: 150px;	/* originally 315 */
		
		/*
		height: 90px;
		width: 200px;
		position: absolute;
		top: 280px;	
		right: 150px;
		*/
}
		
#functionDiv{
		width:505px;
		height: 45px;
		position: absolute;
		right: 280px;
		top: 50px;
		
		/*
		width:505px;
		height: 45px;
		position: absolute;
		left: 420px;
		top: 50px;
		*/
}

#mazeDiv{
		position: absolute;
		right: 230px;
		top:  60px;
		
		/*
		position: absolute;
		left: 375px;
		top:  60px;
		*/
}

/* CSS for comment section */

#commentsDiv{
	    background-color: lightgrey;
    	width: 700px;
   		padding: 20px;
    	border: 3px solid black;
    	margin: 20px;

}