.buttons {
	-moz-box-shadow:inset 1px -1px 2px 1px #575657;
	-webkit-box-shadow:inset 1px -1px 2px 1px #575657;
	box-shadow:inset 1px -1px 2px 1px #575657;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1f1f1f), color-stop(1, #363535) );
	background:-moz-linear-gradient( center top, #1f1f1f 5%, #363535 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1f1f1f', endColorstr='#363535');
	background-color:#1f1f1f;
	-webkit-border-top-left-radius:42px;
	-moz-border-radius-topleft:42px;
	border-top-left-radius:42px;
	-webkit-border-top-right-radius:42px;
	-moz-border-radius-topright:42px;
	border-top-right-radius:42px;
	-webkit-border-bottom-right-radius:42px;
	-moz-border-radius-bottomright:42px;
	border-bottom-right-radius:42px;
	-webkit-border-bottom-left-radius:42px;
	-moz-border-radius-bottomleft:42px;
	border-bottom-left-radius:42px;
	border:1px solid #1f1f1f;
	color:#1ff400;
	height:62px;
	line-height:100%;
	text-shadow:-1px 2px 2px #0e6600;
	font-family: "Retroville";
}

.buttons:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #363535), color-stop(1, #1f1f1f) );
	background:-moz-linear-gradient( center top, #363535 5%, #1f1f1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#363535', endColorstr='#1f1f1f');
	background-color:#363535;
}

.jumbotron{
	position: absolute;
	top:7.5vh;
	width: 83.5vw;
	background-color: rgba(128,128,128,.90);
	border-radius: 0px;

}
.lesson{
	left:8vw;
}
body{
	/*padding-top: 100px;*/
	height: 100%;
	width: 100%;
	font-family: "Arial";
	background-color:"dimgrey";
	background-image: url("../images/brick.jpg");
	/*opacity: 0.96;*/
}
/*Fonts being used in the website*/
@font-face{
	font-family: "Retroville";
	src: url(fonts/RetrovilleNC.ttf);
}
@font-face{
	font-family: "PressStart";
	src: url(fonts/PressStart2P-Regular.ttf);
}
@font-face{
	font-family: "Kinescope";
	src: url(fonts/Kinescope.otf);
}
@font-face{
	font-family: "CabinBold";
	src: url(fonts/CabinSketch-Bold.otf);
}
@font-face{
	font-family: "CabinReg";
	src: url(fonts/CabinSketch-Regular.otf);
}

.statuses{
	font-family: "Retroville";
	position: absolute;
	color: #1ff400;
}

#scoreBoard{
	visibility: visible;
	position: absolute;
	width: 7.2vw;
	height: 8.9vh;
	top: 1.7vh;
	left: 1.2vw;
	z-index:0;
}

.scoreList{
	font-size: 190%;
	color: #1ff400;
	z-index: 1;
	white-space: pre;
}
#levelNum{
	font-size: 1vw;
	top: 15vh;
}

#description{
	font-size: 1vw;
	top: 45vh;
}
#gateType{
	font-size: 1vw;
	top: 60vh;
}

#playerIcon{
	width: 2vw;
	height: 6vh;
}

#framesPerSecond{
	position: absolute;
	top: 2px;
	left: 17px;
}

#lives{
	position: absolute;
	top: 30px;
	left: 17px;
}

#myCanvas {
	background: url(../Background/circuit_background.jpg) no-repeat;
	background-size: 100% 100%;
	display: block;
	border: 7px solid rgb(64,64,64);
	margin: 0 auto;
	height: 82.5vh;
	width: 35.2vw;
}

#fpsCanvas {
	background: url(../images/meter.png) no-repeat;

	background-size: 100% 100%;
	display: block;
	margin: 0 auto;
	width: 15vw;
	height: 15vh;
}


#gameDiv{
	position: absolute;
	width: 35.2vw;
	height: 82.5vh;
	right: 37%;
	bottom: 8%;
}
#newLevel{
	position: absolute;
	text-align: center;
	background-color: black;
	border: 7px solid rgb(64,64,64);
	width:75%;
	height:50%;
	top:20%;
	left: 12.5%;

	color:#1ff400;
	font-family: "Retroville";
	/*font-size: ;*/
}
#levelNum{
	font-size: 1.2vw;
}

#continue{
	height: 15%;
	width: 30%;
	text-align: center;
	font-size:1vw;
}
#play1st{
	height: 15%;
}
#help{
	height: 15%;
	width: 30%;
	text-align: center;
	font-size: 1vw;
}

#fpsDiv{
	position: absolute;
	left: 2%;
	width: 15vw;
	height: 15vh;
	top: 95px;
}

#speedDiv{
	position: absolute;
	right: 5%;
	top: 10%;
	left: 70%;
	width: 17%;
	height: 82.5vh;
	padding-top: 35px;
	background-color: black;
	border: 7px solid rgb(64,64,64);
}


#speedDivTop{
	left: 15vw;
	width: 100%;
	height: 40%;
}

#speedDivBottom{
	left: 15vw;
	width: 100%;
	height: 60%;
	/*padding-top: 5px;*/
}

.diceView{
	float: left;
	left: .2vw;
	width:  4vw; /*20%;*/
	height: 8vh; /*70%;*/
	margin: 4%;
	border: 3px solid rgb(64,64,64);
	/*border-style: outset;*/
}
.gateViz{
	float:left;
	width: 4.25vw;
	height:14.5vh;
	margin: 3.25%;
	visibility: visible;

}
.speedView{
	float: left;
	width: 4vw; /*20%;*/
	height: 1vh;
	margin: 4%;
	background-color : #e60000;
	border: 3px solid rgb(64,64,64);
	/*border-style: outset;*/
}

#scoreDiv{
	position: absolute;
	background-color: black;
	border: 7px solid rgb(64,64,64);
	width:24vw;
	height:24vh;
	top:65vh;
	left: 2vw;

	color:#1ff400;
	font-family: "Retroville";
	font-size: 1.6vw;

}
#score{
	position: absolute;
	left: 1vw;
}
#level{
	position: absolute;
	top:5vh;
	left: 1vw;
}
#streak{
	position: absolute;
	top:10vh;
	left: 1vw;
}
#bonus{
	position: absolute;
	top:15vh;
	left: 1vw;
}

#quitButton{
	font-size: .7vw;
	height: 4vh;
	width: 4vw;
	position: absolute;
	left:87%;
	top: 1.5vh;
}

.livesMeter{
	visibility: visible;
	position: absolute;
	left: 1vw;
	top: 83vh;
	width: 33vw;
	height: 7vh;
}

.ui{
	display: none;
	font-weight: bold;
}

.mainMenu{
	position: absolute;
	font-size:24px;
	width: 180px;
	height: 55px;
}

.endGame {
	font-family: "Retroville";
	position: absolute;
}

.options{
	position: absolute;
}

.highScores{

	font-family: "Retroville";
	color: #1ff400;
	position: absolute;
}

.newHighScoreScreen{

	font-family: "Retroville";
	color: #1ff400;
	position: absolute;
}

.howToPlay{
	position: absolute;
}

.controls{
	position: absolute;
}


.logos{
	top: 5vh;
	left: 7vw;
	width: 20vw;
	height: 15vh;
	visibility: visible

}

.volumeIcons{
	visibility: visible;
	position: absolute;
	height: 40px;
	width: 40px;
	bottom: 7px;
	left: 20px;
}

.mainMenuAnimation{
	position: absolute;
}

.animationLogos{
	top: 3.5vh;
	left: 6vw;
	width: 23vw;
	height: 22vh;
	visibility: visible;
}

#nameInput{
	bottom: 30vh;
	left: 7vw;
	width: 20vw;
	height: 5vh;
	z-index: 1;
	font-size:20px;
}

#endm{
	bottom: 5vh;
	left: 3vw;
	width: 13vw;
	height: 8vh;
	font-size: 1.5vw;
}

#replay{
	bottom: 5vh;
	left: 19vw;
	width: 13vw;
	height: 8vh;
    font-size: 1.5vw;
}

#gameOverText{
	top: 1vh;
	left: .5vw;
	width: 35vw;
	font-size: 55px;
	text-align: center;
	color: #1ff400;
}

#congratulations{
	bottom: 40vh;
	left: 2.66vw;
	width: 30vw;
	font-family:"Retroville";
	font-size: 24px;
	text-align: center;
	color: #1ff400;
	z-index:1;
}

#highScoreLabel{
	top: 17vh;
	width: 35vw;
	left: 1vw;
	font-size: 40px;
	text-align: center;
	color: #1ff400;
}
#gameOverScore{
	top: 12vh;
	left: .66vw;
	width: 35vw;
	text-align: center;
	font-size: 24px;
	/*color: #FF0000;*/
}

#back{
	bottom: 1px;
	left: 26px;
	width: 50px;
	height: 30px;
}
#config_Options{
	bottom: 15vh;
	left: 11vw;
	width: 13vw;
	height: 8vh;
	font-size: 1.20vw;
}

#mainMenu_Options{
	bottom: 5vh;
	left: 11vw;
	width: 13vw;
	height: 8vh;
	font-size: 1.5vw;
}

#mainMenu_HowTo{
	bottom: 5vh;
	left: 11vw;
	width: 13vw;
	height: 8vh;
	font-size: 1.5vw;
}


#mainMenu_Controls{
	bottom: 5vh;
	left: 11vw;
	width: 13vw;
	height: 8vh;
	font-size: 1.5vw;
}

#mainMenu_NewHighScoreScreen{
	bottom: 5vh;
	left: 11vw;
	width: 13vw;
	height: 8vh;
	font-size: 1.5vw;
}

#submitHighScore{
	bottom: 15vh;
	left: 11vw;
	width: 13vw;
	height: 8vh;
	font-size: 1.5vw;
}

#mainMenu_HighScores{
	bottom: 5vh;
	left: 11vw;
	width: 13vw;
	height: 8vh;
	font-size: 1.5vw;
}

#highScore1{
	font-size: 20px;
	bottom: 50vh;
	left: 2.5vw;
}

#highScore2{
	font-size: 20px;
	bottom: 47vh;
	left: 2.5vw;
}

#highScore3{
	font-size: 20px;
	bottom: 44vh;
	left: 2.5vw;
}

#highScore4{
	font-size: 20px;
	bottom: 41vh;
	left: 2.5vw;
}

#highScore5{
	font-size: 20px;
	bottom: 38vh;
	left: 2.5vw;
}

#highScore6{
	font-size: 20px;
	bottom: 35vh;
	left: 2.5vw;
}

#highScore7{
	font-size: 20px;
	bottom: 32vh;
	left: 2.5vw;
}

#highScore8{
	font-size: 20px;
	bottom: 29vh;
	left: 2.5vw;
}

#highScore9{
	font-size: 20px;
	bottom: 26vh;
	left: 2.5vw;
}

#highScore10{
	font-size: 20px;
	bottom: 23vh;
	left: 2.5vw;
}


#highScoreEnd1{
	font-size: 20px;
	bottom: 50vh;
	left: 2.5vw;
}

#highScoreEnd2{
	font-size: 20px;
	bottom: 47vh;
	left: 2.5vw;
}

#highScoreEnd3{
	font-size: 20px;
	bottom: 44vh;
	left: 2.5vw;
}

#highScoreEnd4{
	font-size: 20px;
	bottom: 41vh;
	left: 2.5vw;
}

#highScoreEnd5{
	font-size: 20px;
	bottom: 38vh;
	left: 2.5vw;
}

#highScoreEnd6{
	font-size: 20px;
	bottom: 35vh;
	left: 2.5vw;
}

#highScoreEnd7{
	font-size: 20px;
	bottom: 32vh;
	left: 2.5vw;
}

#highScoreEnd8{
	font-size: 20px;
	bottom: 29vh;
	left: 2.5vw;
}

#highScoreEnd9{
	font-size: 20px;
	bottom: 26vh;
	left: 2.5vw;
}

#highScoreEnd10{
	font-size: 20px;
	bottom: 23vh;
	left: 2.5vw;
}

#textBackground{
	border: 7px solid rgb(64,64,64);
	visibility: visible;
	position: absolute;
	height: 43vh;
	bottom: 19vh;
	left: 1.5vw;
	width: 32vw;
	z-index: 0;

}

#textBackground2{
	border: 7px solid rgb(64,64,64);
	visibility: visible;
	position: absolute;
	height: 43vh;
	bottom: 19vh;
	left: 1.5vw;
	width: 32vw;
	z-index: 0;

}

#textBackground3{
	border: 7px solid rgb(64,64,64);
	visibility: visible;
	position: absolute;
	height: 25vh;
	bottom: 30vh;
	left: 1.5vw;
	width: 32vw;
	z-index: 0;

}

#textBackground4{
	border: 7px solid rgb(64,64,64);
	visibility: visible;
	position: absolute;
	height: 33vh;
	bottom: 22vh;
	left: 1.5vw;
	width: 32vw;
	z-index: 0;

}

#textBackground5{
	border: 7px solid rgb(64,64,64);
	visibility: visible;
	height: 33vh;
	bottom: 22vh;
	left: 1.5vw;
	width: 32vw;
	z-index: 0;
}

#textBackground6{
	border: 7px solid rgb(64,64,64);
	visibility: visible;
	position: absolute;
	height: 37vh;
	bottom: 25vh;
	left: 1.5vw;
	width: 32vw;
	z-index: 0;
}
#gameWelcome{
	text-align: center;
	font-size: 165%;
	top: 22vh;
	left: 5vw;
	width: 25vw;
	color: #1ff400;
	z-index: 1;
}

#arrowKeys{
	bottom: 313px;
	left: 226px;
	width: 85px;
	height: 43px;
	visibility: visible;
	z-index: 1;
}

#mouseCursor{
	bottom: 313px;
	left: 390px;
	width: 27px;
	height: 40px;
	visibility: visible;
	z-index: 1;
}

#leftClick{
	bottom: 145px;
	left: 365px;
	width: 60px;
	height: 100px;
	visibility: visible;
	z-index: 1;
}

#gameDescription{
	text-align: center;
	top: 28vh;
	left: 2.5vw;
	width: 30vw;
	font-size: 98%;
	color: #1ff400;
	z-index: 1;
}

#controlsDescription{
	bottom: 315px;
	left: 73px;
	font-size: 180%;
	z-index: 1;
	color: #1ff400;
}

#controlsDescription2{
	bottom: 180px;
	left: 73px;
	font-size: 180%;
	z-index: 1;
	color: #1ff400;
}

#controlsDescription3{
	bottom: 315px;
	left: 327px;
	font-size: 180%;
	z-index: 1;
	color: #1ff400;
}

#hint{
	text-align: center;
	bottom: 20vh;
	left: 8vw;
	width: 20vw;
	color: #1ff400;
	z-index: 1;
}


#howTo{
	bottom: 35vh;
	left: 11vw;
	width: 13vw;
	height: 8vh;
	font-size: 1.5vw;
}

#play{
	bottom: 45vh;
	left: 11vw;
	width: 13vw;
	height: 8vh;
	font-size: 2vw;
}

#highScores_MainMenu{
	bottom: 5vh;
	left: 11vw;
	width: 13vw;
	height: 8vh;
	font-size: 1.7vw;
}
#controls_MainMenu{
	bottom: 25vh;
	left: 11vw;
	width: 13vw;
	height: 8vh;
	font-size: 1.75vw;
}

#option{
	bottom: 15vh;
	left: 11vw;
	width: 13vw;
	height: 8vh;
	font-size: 2vw;
}

#opt{
	bottom: 30vh;
	left: 8.565vw;
	width: 16vw;
	height: 20vh;
	z-index: 1;
	color: #1ff400;
	font-size: 1vw;
}

#bgm{
	bottom: 45vh;
	left: 8.565vw;
	width: 16vw;
	height: 5vh;
	z-index: 1;
	color: #1ff400;
}
#sfx{
	bottom: 35vh;
	left: 8.565vw;
	width: 16vw;
	height: 5vh;
	z-index: 1;
	color: #1ff400;
}

#menuLogo{
	top: 3.5vh;
	left: 6vw;
	width: 23vw;
	height: 22vh;
	visibility: visible
}
h1{
	text-align:center;
	color:black;
	text-shadow: 1px 1px 2px black, 0 0 25px white;
}

h2{
	text-align:right;
	margin-right: 15%;
}

h3{
	margin-left: 40px;

}

h4{
	text-align:right;
	position:absolute;
	font-family: 'Molengo', Georgia, Times, serif;
	margin:0;
	color:white;
	font-size: 56px;
	line-height: 80px;
}

h5{
	text-align:left;
	font-size: 56px;
}
pre{
	font-family: airal;
	font-size: 17px;
	font-weight: bold;

}

ul#menu{
	list-style-type: none;
	margin: 100px;
	padding: 0;
}

ul#menu li{
	display: inline;
	position:relative;
}

ul#menu li a{
	margin: 0px 0;
	background-color: black;
	text-align:left;
	color: white;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 10px 10px 10px 10px;
}
ul#menu li a:hover {
	background-color: white;
	color:black;
}

ul#menu li ul.dropdown{
	background-color: black;
	display: none;
	position: absolute;
	padding-top: 10px;
	padding-left: 0px;
	padding-bottom: 10px;
	padding-right: 10px;

	top: 100%;
	z-index: 99999;
	left: 0;
}
ul#menu li:hover ul.dropdown{
	display: inline-table;
}
ul#menu li ul.dropdown li{
	margin: 10px 10px;

	display: inline-table;
}


ul#games li{
	margin: 10px 0;
}

ul#games li a{
	background-color: black;
	color: white;
	padding: 3px 7px;
	text-decoration: none;
	border-radius: 10px 10px 10px 10px;
}
ul#games li a:hover {
	background-color: white;
	color:black;
}

img{
	visibility: hidden;
	height: 10px;
	width: 10px;
}
img#table{
	visibility:visible;
	height: 125px;
	width: 684px;
}

.thumb img {
	max-width: 200px;
	max-height: 150px;
	min-width: 200px;
	min-height: 150px;
}



.navbar-default {
	/*background-color: #808080;*/
	background-color: rgba(128,128,128,.90);
	border-color: #5e1590;
}
.navbar-default .navbar-brand {
	color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #ffffff;
}
.navbar-default .navbar-text {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: #606060;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #ffffff;
	background-color: #606060;
}
.navbar-default .navbar-toggle {
	border-color: #606060;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #606060;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #ecf0f1;
}
.navbar-default .navbar-link {
	color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
	color: #ffffff;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ecf0f1;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ffffff;
		background-color: #5e1590;
	}
}

/*Below this is CSS for the math maze game*/

.textTitle{
	white-space: pre;
	font-family: "Lucida Console", monospace;
	font-weight: bold;
	height: 50px;
	width: 400px;
	position: absolute;
	left: 50px;
	top:  125px;
}

.textBody{
	font-family: "Lucida Console", monospace;
	font-weight: bold;
	height: 100px;
	width: 400px;
	position: absolute;
	left: 50px;
	top:  175px;
}

/*
	Math Maze styling
*/

#menu{
	height: screen.height;
	width: screen.width;
	margin-top: 35px;
	margin-left: auto;
	width: 80%;
	position: absolute;

	font-size: 25px;
	color: white;
	font-family: "CabinBold";
	text-align: center;
}

#MathMazeLogo{
	visibility: visible;
	height: 250px;
	width: 375px;
}
/*this is for the logo on the math maze game screen*/
/*#MathMazeLogoMini{
	visibility: visible;
	height: 90px;
	width: 135px;
}*/
#colorMenu{
	margin-top: 100px;
	margin-left: auto;
	width: 80%;
	position: absolute;

	font-size: 22px;
	font-family: "CabinBold";
	text-align: center;
}
/*
	styling for the buttons
*/
.colors{
	border-radius: 20px;
	border: none;
	color:black;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 10px 5px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;

}
.colors:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#red{
	background-color: red;
}
#orange{
	background-color: orange;
}
#yellow{
	background-color: yellow;
}
#green{
	background-color: green;
}

#blue{
	background-color: blue;
}

#indigo{
	color: white;
	background-color: indigo;
}

#violet{
	background-color: violet;
}

#cyan{
	background-color: cyan;
}

#chartreuse{
	background-color: chartreuse;
}

#magenta{
	background-color: magenta;
}

#navy{
	color: white;
	background-color: navy;
}

#chocolate{
	background-color: chocolate;
}

.difficulty {
	border-radius: 20px;
	border: none;
	color:black;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
}
.difficulty:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.all {
	background-color: #AEC6CF;
}

.easy {
	background-color: #66ff66;
}

.moderate {
	background-color: #FDFD96;
}

.hard {
	background-color: #FF6961;
}
#MathMazeDiv{
	position: absolute;
	height:100%-40px;
	width: 100%;
	top: 40px;
	left:0px;
	bottom: 0px;
	/*background: url(../Background/chalkboard.jpg);*/
}

#MathMazeBackground{
	height:100%;
	width: 100%;
	visibility: visible;
}
#MathMazeBackgroundMenu{
	height: 640px;
	width: 100%;
	visibility: visible;
}

#textDiv{
	height:100%;
	width: 47%;
	top:0px;
	left:0px;
	position: absolute;
}
#scoreboardDiv{
	width: 100%;
	height: 250px;
	position: absolute;
	left: 20%;
	top: 55%;
	text-align: center;
	/*font-family: "VintageOne";*/
	/*background: url(../Background/paperpng.png);*/
}
#hit_missDiv{
	height: 90px;
	width: 180px;
	position: absolute;
	top: 15%;
	left: 35%;
	font-family: "CabinBold";
	color: white;
}

#hitText{
	top: 10%;
	left: 35%;
	font-family:"CabinBold";
	color: white;
	height: 20px;
	width: 20px;
	position: absolute;
}

#hit{
	font-size: x-large;
}

#missText{
	top: 10%;
	left: 50%;
	font-family:"CabinBold";
	color: white;
	height: 20px;
	width: 20px;
	position: absolute;
}

#miss{
	font-size: x-large;
}

#functionDiv{
	width:100%;
	height: 100px;
	position: absolute;
	text-align: center;
	top: 38%;
	left: 5%;
	font-family: "CabinBold";
}
#function{
	width:100%;
	font-family: "CabinBold";
}

#mazeDiv{
	position: absolute;
	height:520px;
	width:520px;
	left: 53%;
	top:  50px;
}

.mmReplayButton {
	border-radius: 12px;
	background-color: green;
	background-color: #66ff66;
	border:1px solid #1f1f1f;
	color: white;
	text-shadow:-1px 1px 2px #3b0404;
	font-family: "CabinBold";
}

.mmReplayButton:hover {
	background-color:#363535;
}

.mmEndButton {
	left:50%;
	border-radius: 12px;
	background-color: red;
	background-color: #ff4d4d;
	border:1px solid #1f1f1f;
	color: white;
	line-height:100%;
	text-shadow:-1px 1px 2px #3b0404;
	font-family: "CabinBold";
}

.mmEndButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #363535), color-stop(1, #1f1f1f) );
	background:-moz-linear-gradient( center top, #363535 5%, #1f1f1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#363535', endColorstr='#1f1f1f');
	background-color:#363535;
}

#HighScoreTitle{
	left:15%;
	position: absolute;
	color: white;
	font-size: 44px;
	font-family: "CabinBold";
}
#NewScore{
	position: absolute;
	top:12%;
	left: 35%;
	color: white;
	font-size: 40px;
	font-family: "CabinBold";
}
#mathMazeEndm{
	width: 180px;
	height: 50px;
	font-size: 28px;
	top: 45%;
	left: 35%;
}

#mathMazeReplay{
	width: 180px;
	height: 50px;
	font-size: 28px;
	top: 35%;
	left: 35%;
}
#MathMazeSubmitHighScore{
	position: absolute;
	border-radius: 12px;
	background-color: #ffff80;
	border:1px solid #1f1f1f;
	color: white;
	text-shadow:-1px 1px 2px #3b0404;
	font-family: "CabinBold";
	width: 180px;
	height: 50px;
	font-size: 28px;
	top: 24%;
	left: 60%;
}
#MathMazeNameInput{
	background-color: rgba(0,0,0,0);
	border-color: rgba(255,255,255,1);
	border-width: 0px 0px 1px 0px;
	position: absolute;
	background
	height: 50px;
	font-family: "CabinBold";
	color: white;
	font-size: 24px;
	top:25%;
}

.mm{
	display: none;
	font-weight: bold;
}

/* CSS for comment section */

#commentsDiv{
	background-color: white;
	width: 505px;
	padding: 20px;
	border: 3px solid black;
	margin: 0px;
}

commentHeader{
	text-align:left;
	font-size: 22px;
}

.commentContainer {
	width: 505px;
	clear: both;
}
.commentContainer input {
	width: 100%;
	clear: both;
}


.EndGame{
	font-size: 34px;
	font-family: "CabinBold";
	color:white;
	position: absolute;
}

#MMhighScoreEnd1{
	bottom: 80%;
	left: 20%;
}

#MMhighScoreEnd2{
	bottom: 72%;
	left: 20%;
}

#MMhighScoreEnd3{
	bottom: 64%;
	left: 20%;
}

#MMhighScoreEnd4{
	bottom: 56%;
	left: 20%;
}

#MMhighScoreEnd5{
	bottom: 48%;
	left: 20%;
}

#MMhighScoreEnd6{
	bottom: 40%;
	left: 20%;
}

#MMhighScoreEnd7{
	bottom: 32%;
	left: 20%;
}

#MMhighScoreEnd8{
	bottom: 24%;
	left: 20%;
}

#MMhighScoreEnd9{
	bottom: 16%;
	left: 20%;
}

#MMhighScoreEnd10{
	bottom: 8%;
	left: 20%;
}


.GGLogo {
	height:330px;
	width:356px;
	background: url('../images/GGstatic.png');
	position: relative;
	opacity: 0.9;
}
/*this is the hover event trigger*/
.GGLogo:hover {
	height:330px;
	width:356px;
	background:url('../images/GG_gif.gif');
	opacity: 1.0;
}
.MMLogo {
	height:330px;
	width:356px;
	background: url('../images/MM_static.png');
	position: relative;
	opacity: 0.9;
}
/*this is the hover event trigger*/
.MMLogo:hover {
	height:330px;
	width:356px;
	background:url('../images/MM.gif');
	opacity: 1.0;
}

